.input_container {
	display:flex;
	justify-content: space-between;
	max-width: 500px;
}

input {
	height:55px;
	width:55px;
	text-align:center;
	margin-right:15px;
}

.alert {
	min-height:50px;
}

.card {
	padding:15px;
	margin-bottom: 25px;
}

.results {
	padding-bottom:45px;
}

.hidden {
	visibility: hidden;
}

.dup-error, .greater-error {
	border:2px solid #721c24;
	background-color:#f5c6cb;
}

.no-error {
	border: 0px;
	background-color: transparent;
}
